/*Aqui van tus estilos */
body{
	margin:0;
	padding:0;
}
/*estilos pantalla1 loanding cony*/
	#loand{
		background-image: url(../img/banners-verticales.png);
		background-size: cover;
	    height: 100%;
		opacity: 950%;
        background-repeat: no-repeat;
	    img{
	        border: 0;
	        margin-top: 20px;
	        width: 40%;
	        height: 100%;
	        margin-bottom: 0;
	    }
	    .tx{
	    	margin-top: 70px;
	    	color: $gris_logo;
	    	font-family: 'Encode Sans', sans-serif;
	    	font-size: 30px;
	    	font-weight: 800;
            h3{
               font-weight: 900;
            }
	    }
	    i{
	    	font-size: 10vh;
	    	margin-top: 30px;
	    }
	}
/*fin pantalla1 loanding*/
 
/*pantalla calificacion cony*/

#alumnas{
	img{
		width: 20px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	input{
		width: 70px;
		height: 30px;
	}
	select{
		width: 70px;
	}
}
.tit{
	margin-top: 30px;
}

/*fin pantalla calificacion*/

