/*Aqui van tus estilos */
body{
	margin:0;
	padding:0;
}

body{
	background: red;
}
/****INICIO ***/
#info-alumnas{
	select{
		margin-top: 20px;
		display: block;
	}
	.title{
		padding-top: 20px;
	}
}
/***FIN**/