/*Aqui van tus estilos */
body{
	margin:0;
	padding:0;
}

/*Estilos María Paz*/
#login{
	background-color:$gris_logo;
	img{
		margin-top:20px;
		padding-bottom: 71px;
	}
	a{
		background-color:$yellow_lab;
		margin:10px;
		width:63%;
	}

}
#signInCoder{
	background-color:$gris_logo;
	img{
		margin-top:20px;
	}
	h5{
		margin-bottom:45px;
	}
	a{
		background-color:$yellow_lab;
	}
	input{
		color:$blanco;
	}
}

#signInJedi{
	background-color:$gris_logo;
	img{
		margin-top:20px;
	}
	h5{
		margin-bottom:45px;
	}
	a{
		background-color:$yellow_lab;
	}
	input{
		color:$blanco;
	}
}
/*Fin estilos María Paz*/
/****INICIO Cindy ***/
#info-alumnas{
	select{
		margin-top: 20px;
		display: block;
	}
	.title{
		padding-top: 20px;
	}
}
/***FIN Cindy**/

